.budget {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 20px;
    background-color: #f5f7fa;
}

.pill{
    color: #fff;
    padding: 0.5rem;
    display: inline-block;
    margin: 0.2rem;
    &__primary{
        background-color: #007bff;
    }
    &__available{
        background-color: #28a745;
    }
    &__pending{
        background-color: #dc3545;
    }
    &__warning{
        color: black;
        background-color: #ffc107;
    }
    &__info {
        background-color: #17a2b8;
    }
}