.bill {
    position: relative;
    width: 350px;
    min-height: 175px;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    border-bottom: solid 2px rgb(185 192 203 / 80%);
    background-color: #f0f3f8;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bill__name {
    width: 80%;
    color: #0b0b14;
}

.bill__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bill__deadline {
    color: #35393e;
    margin-bottom: 10px;
}

.bill__price {
    color: #1aab4b;
    margin-top: 10px;
}

.bill__link {
    display: block;
    padding: 15px 20px;
    width: fit-content;
    border-radius: 4px;
    text-decoration: none;
    background-color: #f38847;
    color: #FFF;
    border: none;
}

.bill__link--green {
    background-color: #1aab4b;
    font-size: .8em;
    padding: 10px 15px;
}

.bill--paid {
    border-bottom: solid 2px #1aab4b;
}

.bill--paid::before {
    position: absolute;
    font-size: 35px;
    right: 20px;
    top: 20px;
    content: "✅";
}

.bill--expired {
    border-bottom: solid 2px #d8340f;
}


.bill--expired::before {
    position: absolute;
    font-size: 35px;
    right: 20px;
    top: 20px;
    content: "❌";
}