* {
  margin: 0;
  padding: 0;
}

.header {
  background-color: #6772f1;
  padding: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.header__title {
  color: #FFF;
}

.bills {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(385px, 1fr));
  box-sizing: border-box;
  gap: 40px;
  padding: 20px;
}
